<h3> You will transfer to next page over
    <time>{{time}}</time>
    seconds
</h3>
<div class="slider-wrap">
    <ul class="slider">
        <li *ngFor="let url of service.imageUrls" class="slider__item">
            <img [src]="url" alt="image">
        </li>
    </ul>
</div>
