h3 {
    text-align: center;
}

.slider-wrap {
    max-width: 100%;
    overflow: hidden;
}

.slider {
    width: 300%;
    height: 100%;
    overflow-y: hidden;
    animation-duration: 4s;
    animation-name: carousel-anim;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.slider__item {
    list-style: none;
    display: inline-block;
    font-size: 0;
    width: 33.3%;
    height: 33.3%;
}

.slider__item img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

@keyframes carousel-anim {
    from {
        margin-left: 0;
    }

    50% {
        margin-left: -100%;
    }

    to {
        margin-left: -200%;
    }
}